<head>
    <title>ZbažinBar</title>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />    
    <script src="/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="/lib/jquery/js/jquery.min.js"></script>
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    </head>
<body>
    <div class="bg-burgundy text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand text-center">
                    <a class="deco-none" asp-action="Index" asp-controller="Home" asp-route-category="">   
                        <span style="font-size: 1.8rem; color: gold">Zbažin</span><span style="color: white">Bar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-1 m-1">
        @RenderBody()
    </div>
</body>
</html>
