@page

@functions {
    [BindProperty(SupportsGet = true)]
    public string OrderId { get; set; }
}

<div class="text-center">
    <h2>✔️</h2>
    <p>Your purchase (ID: @OrderId) has been ordered</p>
    <p style="font-size: 1.3rem"><b>Na Zdravi!</b></p>
    <a class="btn btn-primary" asp-controller="Home">Back to the bar homepage</a>
</div>

