@model IEnumerable<string>

<a asp-action="Index" asp-controller="Home" asp-route-category=""
    style="font-size: 18px"  class="btn m-2 btn-outline-secondary h5">Home</a>
@foreach (string category in Model) {
    <a asp-action="Index" asp-controller="Home" asp-route-category="@category" asp-route-productPage="1"
    style="font-size: 18px"  class="
    btn m-2 @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-outline-secondary")">
        @category </a>
}
<vc:cart-summary />
