@model Cart

<div class="align-middle">
    

     <a 
       asp-page="/Cart" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()"
       style="font-size: 18px; font-weight: bold"  class="btn m-2 btn-outline-secondary h5">
        🛒
        @if (Model.Lines.Count() > 0) {
        <span style="font-size: small">
            [@Model.Lines.Sum(x => x.Quantity)]
        </span>
    }
        </a>
</div>