@inherits LayoutComponentBase

<div class="bg-burgundy text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col navbar-brand text-center">
                <a class="deco-none" asp-action="Index" asp-controller="Home" asp-route-category="">   
                    <span style="font-size: 1.8rem; color: gold">Zbažin</span><span style="color: white">Bar</span><span style="font-size: 1.0rem; text-transform: lowercase; color: gold">/ADMIN</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row p-2">
        <div class="col-3">
            <NavLink class="btn btn-outline-primary btn-block"
                        href="/admin/products" 
                        ActiveClass="btn-primary text-white" 
                        Match="NavLinkMatch.Prefix">
                Products
            </NavLink>
            <NavLink class="btn btn-outline-primary btn-block"
                        href="/admin/orders" 
                        ActiveClass="btn-primary text-white" 
                        Match="NavLinkMatch.Prefix">
                Orders
            </NavLink>            
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>
